<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Thank you for registering. </p>
    <p>Please click on the link below to complete the account verification
      process:</p>
    <br />
    <p>{{link}}</p>
    <br />
    <p>Once your account is verified, you will gain access to all the features.
    </p>
    <br />
    <p>Please disregard this email if you did not sign up for an account.</p>
    <br />
    <p>If you have any questions or need assistance, feel free to contact us at
      any time.</p>
    <br />
    <p>Best regards,</p>
    <br />
    <p>Support Team</p>
    <br />
    <p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
    <p>ShopTech</p>
    <p>https://◯◯◯.com/▲▲▲</p>
    <p>example@shoptech.com</p>
    <br />
    <p>Note: This email is automated and replies to this address will not be
      received or processed.</p>
  </body>
</html>